# ==============================
# Python
# ==============================

__pycache__/
*.py[cod]
*.pyo

# ==============================
# Virtual Environment
# ==============================

.venv/
venv/
env/
ENV/

# ==============================
# Environment / Secrets
# ==============================

.env
.env.*

# ==============================
# Django
# ==============================

db.sqlite3
db.sqlite3-journal

# ==============================
# Static & Media
# ==============================

staticfiles/
media/

# ==============================
# Logs
# ==============================

*.log

# ==============================
# IDE
# ==============================

.vscode/
.idea/

# ==============================
# OS
# ==============================

.DS_Store
Thumbs.db

# ==============================
# VPS LOCAL SETTINGS
# ==============================

config/settings.py